{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- <img src="{% static 'img/pokedex-image.png' %}" class="image" style="width:100px;"> -->
<!-- Search Bar -->
<form class="d-flex mb-4" method="POST" action="{% url 'index' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" name="pokemon" placeholder="Search Pokémon" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<!-- Pokémon Cards -->
{% if number and name %}
    <div class="card shadow-sm mb-4">
        <div class="d-flex justify-content-center p-3">
            <div class="p-2" id="sprite-normal">
                <img src="{{ sprite }}" class="card-img-top sprite-img" style="width: 200px;" alt="{{ name }}">
            </div>
            <div class="p-2" id="sprite-shiny">
                <img src="{{ sprite_shiny }}" class="card-img-top sprite-img" style="width: 200px;" alt="{{ name }}">
            </div>
            <audio id="pokemon-cry" src="{{ cry_url }}" type="audio/ogg"></audio>
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">#{{ number }} - {{ name }}</h5>
            <p class="card-text"><strong>Types:</strong> {{ types }}</p>
            <p class="card-text"><strong>Height:</strong> {{ height }}</p>
            <p class="card-text"><strong>Weight:</strong> {{ weight }}</p>
        </div>
    </div>
 {% else %}
    {% if name and error %}
        <div class="alert alert-danger" role="alert">
            Pokémon "{{ name }}" not found.
        </div>
    {% endif %}
{% endif %}
<!-- Add event listeners in JavaScript -->
<script>
    function playAudio(cryUrl) {
        var audio = new Audio(cryUrl);
        audio.play();
    }

    // Add event listeners to the sprites
    document.getElementById('sprite-normal').addEventListener('click', function () {
        playAudio('{{ cry_url }}');
    });

    document.getElementById('sprite-shiny').addEventListener('click', function () {
        playAudio('{{ cry_url }}');
    });
</script>
{% endblock %}