{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- <img src="{% static 'img/pokedex-image.png' %}" class="image" style="width:100px;"> -->
<!-- Search Bar -->
<form class="d-flex mb-4" method="POST" action="{% url 'index' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" name="pokemon" placeholder="Search Pokémon" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<!-- Pokémon Cards -->
{% if number and name %}
    <div class="card">
        <img src="{{ sprite }}" class="card-img-top sprite-img" style="width: 200px;" alt="{{ name }}">
        <div class="card-body">
            <h5 class="card-title">#{{ number }} - {{ name }}</h5>
            <p class="card-text">Types: {{ types }}</p>
        </div>
    </div>
{% endif %}
{% endblock %}